* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

.main {
  padding-bottom: 75px;
}

.main-content{
  margin: 50px 0px 50px;
}

.header {
  margin: 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}


.username {
  text-shadow: 0px 0px 25px #050505;
  font-size: 2em;
  text-align: center;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
}



.long-btn {
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 5px;
  max-width: 500px;
  height: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
}

.long-btn:hover {
  color: #f0f0f0;
  background-color: #262626;
  transition-duration: 0.3s;
}

.circle ul {
  margin: 30px;
  text-align: center;
  justify-content: center;
  align-items: center; 
}





.footer {
  text-align: center;
  margin-bottom: 25px;
}

.footer a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}