html, body {
  align-content: stretch;
  align-items: stretch;
  background-color:#0f0000;
  background-image: url("../imgs/wallpaper.png");
  background-repeat: repeat;
  background-size: 750px;
  display: inline-grid;
  height: 100%;
  justify-items: stretch;
}

* {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  align-items: center;
  background-attachment: fixed;
  background-color:#450000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #000000;
  border-radius: 2rem;
  box-shadow: 10px 10px 0px 0px #250000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.Avatar {
  animation-delay: 0s;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: Avatar;  
  background-color:#450000;
  background-image:url("../imgs/Avatar_2.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 110%;
  border: 5px solid #000000;
  border-radius: 50%;
  box-shadow: 10px 10px 0px 0px #250000;
  height:200px;
  transition-duration: 2s;
  width:200px;
}

.Avatar:hover {
  background-image:url("../imgs/Avatar.png");
}



.username {
  text-shadow: 0px 0px 25px #ffffff;
  text-align: center;

}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar{
  position: relative;
}

.bar::before {
  background-color: #450000;
  bottom: -10px;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 250px;
}

.bar::after{
 background-color: #250000;
 bottom: -13px;
 content: "";
 height: 9px;
 left: 50%;
 position: absolute;
 transform: translateX(-50%);
 width: 45px;
}

.Discord-banner {
  margin-top:20px;
}

.db{
  width: 400px;
}

.sb{
  width: 400px;
}

.instagram-media{
  width-max:400px;
}

footer {
  align-items: center;
  background-color:#450000;
  border: 5px solid #000000;
  border-radius: 20px;
  box-shadow: 10px 10px 0px 0px #250000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  text-align: center;
}
