html, body {
  display: inline-grid;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  height: 100%;
  background-color:#0f0000;
  background-image: url("../imgs/wallpaper.png");
  background-repeat: repeat;
  background-size: 750px;
}

* {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color:#450000;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 2rem;
}

.Logo {
  width:200px;
  height:200px;
  border-radius: 50%;
}

.username {
  text-shadow: 0px 0px 25px #ffffff;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main a {
  margin: 10px;
  padding: 20px;
  height: 20px;
  width: 500px;
  border: 2px solid #000000;
  border-radius: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:#00000000;
  background-color:rgba(0,0,0,0.3);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color:#450000;
  box-shadow: 10px 10px 0px 0px #250000;
}

.bar{
  position: relative;
}

.bar::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 3px;
  background-color: #450000;
  bottom: -10px;
}

.bar::after{
 content: "";
 position: absolute;
 bottom: -13px;
 left: 50%;
 transform: translateX(-50%);
 width: 45px;
 height: 9px;
 background-color: #250000;
}

.Discord-banner {
  margin-top:20px;
}

.db{
  width: 500px;
}

.sb{
  width: 500px;
}

.instagram-media{
  width-max:500px;
}

footer {
  background-color:#450000;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 20px;
}
