body {
	background-image: url("images/Wallpaper.png");
}

/* Avatar */

.Avatar {
	border: 1px solid;
	border-color: #00000010 #00000040 #00000040 #00000010;
	box-shadow: 10px 10px 20px #00000080, -10px -10px 20px #FF000020;
}

/* Buttons - List */

.btn {
	background-color: #FF000020;
	border: 1px solid ;
	border-color: #00000010 #00000040 #00000040 #00000010;
	box-shadow: 10px 10px 20px #00000080, -10px -10px 20px #FF000020;
}

.btn:hover {
	border-color: #00000040 #00000010 #00000010 #00000040;
	box-shadow: inset 10px 10px 20px #00000040, inset -10px -10px 20px #FF000010;
}

/* Image - List */

ul li img {
	background-color: #FF000020;
	border: 1px solid;
	border-color: #00000010 #00000040 #00000040 #00000010;
	box-shadow: 10px 10px 20px #00000080, -10px -10px 20px #FF000020;
}

